body	{
	background-color: black;
}

#written {
	padding-left: 30%;
	padding-top: 0%;
	background-image: url("written.png");
}

#bubbles {
	padding-top: 10%;
	padding-left: 40%;
	transform: scaleY(-1);
	transform: scaleX(-1);
	background: bubbles.png;
}

#photos {
	padding-top: 0%;
	padding-left: 70%;
	background: bubbles.png;
}