body	{
	background-color: black;
}

#written {
	background-image: url(written.png);
	position:fixed;
	top:50px;
	left:50px;
}

#bubbles {
	transform: scaleY(-1);
	background: url(bubbles.png);
	position: fixed;
	top:250px;
	left:300px;
}

#photos {
	background: url(photos.png);
}